In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
mydata = [1782,1836,1921]
myindex = ['US','India','Mexico']

In [4]:
myser = pd.Series(data=mydata,index=myindex)
myser

US        1782
India     1836
Mexico    1921
dtype: int64

In [5]:
myser['India']

1836

In [6]:
myages = {'abc':10,'pqr':20,'xyz':12}
ages_series = pd.Series(myages)
ages_series

abc    10
pqr    20
xyz    12
dtype: int64

In [7]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [8]:
sales_q1=pd.Series(q1)
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [9]:
sales_q2=pd.Series(q2)
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [10]:
sales = sales_q1 + sales_q2
sales

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [11]:
sales = sales_q1.add(sales_q2,fill_value=0)
sales

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64