In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("my_excel_file.xlsx",sheet_name='First_Sheet')

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
wb = pd.ExcelFile("my_excel_file.xlsx")

In [5]:
wb.sheet_names

['First_Sheet']

In [6]:
dict = pd.read_excel("my_excel_file.xlsx",sheet_name=None)

In [7]:
dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [8]:
dict.keys()

dict_keys(['First_Sheet'])

In [9]:
dict['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15