In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('dm_office_sales.csv')
df.head()

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='salary',y='sales',data=df,hue='level of education',s=100,style='level of education',alpha=0.3)

In [ ]:
sns.rugplot(x='salary',data=df,height=0.5)

In [ ]:
sns.displot(x='salary',data=df,bins=100,kde=True)

In [ ]:
sns.kdeplot(x='salary',data=df)

In [ ]:
np.random.seed(42)
sample_ages=np.random.randint(0,100,200)
sample_ages

In [ ]:
sample_ages=pd.DataFrame(sample_ages,columns=['age'])

In [ ]:
sample_ages

In [ ]:
sns.rugplot(x='age',data=sample_ages)

In [ ]:
sns.displot(x='age',data=sample_ages,rug=True,kde=True,bins=30)

In [ ]:
sns.kdeplot(x='age',data=sample_ages,shade=True)

In [ ]:
df['division'].value_counts()

In [ ]:
plt.figure(figsize=(10,4),dpi=200)
sns.countplot(data=df,x='division')

In [ ]:
plt.figure(figsize=(10,4),dpi=200)
sns.barplot(data=df,x='level of education',y='salary',estimator=np.mean,ci='sd',hue='division')

In [ ]:
df = pd.read_csv("StudentsPerformance.csv")
df

In [ ]:
plt.figure(figsize=(10,4),dpi=200)
sns.boxplot(data=df,y='math score',x='parental level of education',hue='test preparation course')
plt.legend(bbox_to_anchor=(1.05,0.5))

In [ ]:
#sns.jointplot(data=df,x='math score',y='reading score',kind='hex')
#sns.jointplot(data=df,x='math score',y='reading score',kind='kde',shade=True)
sns.jointplot(data=df,x='math score',y='reading score',hue='gender')

In [ ]:
sns.pairplot(data=df,hue='gender')
#sns.pairplot(data=df,hue='gender',corner=True)

In [ ]:
df = pd.read_csv("country_table.csv")
df

In [ ]:
df = df.set_index("Countries")

In [ ]:
df

In [ ]:
sns.heatmap(df)

In [ ]:
sns.heatmap(df.drop('Life expectancy',axis=1),linewidth=0.5,annot=True,cmap='viridis')